/*这是博客园首页的样式文件*/

/*通用样式*/
body{
    margin: 0;
    background-color: #eeeeee;
}
a{
    text-decoration: none; /*去掉下划线*/

}
ul{
    list-style-type: none; /*去掉ul标签前的点*/
    padding-left: 0;
}

/*左侧样式*/
.blog_left{
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #4e4e4e;
}

.blog-avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    margin: 20px auto;
    overflow: hidden;
}

.blog-avatar img{
    max-width: 100%;
}

.blog-title,.blog-info{
    color: darkgray;
    font-size: 10px;
    text-align: center;
}

.blog-link,.blog-tag{
    font-size: 20px;
}

.blog-link a,.blog-tag a{
    color: darkgray;
}

.blog-link a:hover,.blog-tag a:hover{
    color: white;
}

.blog-tag ul,.blog-link ul{
    text-align: center;
    margin-top: 100px;
}
/*右侧样式*/
.blog-right{
    float: right;
    width: 80%;
    height: 100%;

}

.article{
    background-color: white;
    margin: 20px 40px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5); /*盒子阴影*/
}

.title{
    font-size: 30px;
}

.date{
    float: right;
    margin: 20px 20px;
    font-weight: bolder;
}

.article-title{
    border-left: 5px solid red;
    text-indent: 8px; /*缩进*/
}

.article-body{
    font-size: 18px;
    text-indent: 30px;
    border-bottom: 1px solid black;
}

.article-bottom span{
    padding-left: 30px;
    padding-bottom: 10px;
}
